{% extends 'base.html.twig' %}

{% block title %} New Inventory{% endblock %}

{% block body %}
    <h1>New Inventory </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

