{% extends 'base.html.twig' %}

{% block body %}
    {% for unUser in User %}
    <p>Id: {{ unUser.id }} Name: {{ unUser.name }} Max_Weight: {{ unUser.maxWeight }} </p>
        {% endfor %}
{% endblock %}